* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body, .header, .content {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	margin: 0;
	flex-direction: column;
	background: linear-gradient(to right, #f27c32, #f3c2e1);
}
.header {
	flex-direction: row;
	width: 100%;
	padding: 5px 0;
	margin-bottom: 15px;
	box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, .1);
	user-select: none;
}
.headerTitle {
	margin: 10px;
	font-size: 36px;
	letter-spacing: 1px;
	color: #fff;
}
.header button, .buttonsField button {
	padding: 5px 10px;
	border: 2px solid #333;
	border-radius: 5px;
	font-size: 18px;
	color: #fff;
	background-color: rgba(0, 0, 0, .5);
	transition: .5s;
}
.header button {
	margin: 10px;
}
.header button:hover, .buttonsField button:hover {
	transition: .5s;
	background-color: rgba(0, 0, 0, .2);
}
.content {
	width: 100%;
	flex-direction: column;
}
.cardCreateField {
	display: none;
}
.cardCreateFieldOpened {
	width: 400px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
}
.title {
	text-align: center;
	font-size: 36px;
	user-select: none;
}
.inputTitle {
	margin-top: 10px;
	font-size: 20px;
	user-select: none;
}
.cardCreateFieldOpened textarea {
	margin: 2px 0;
	padding: 5px;
	resize: none;
	font-size: 18px;
	border: 2px solid black;
	border-radius: 5px;
}
.valueEmpty {
	border: 2px solid red;
}
.buttonsField {
	user-select: none;
	padding: 5px 5px 0 0;
}
.buttonsField button {
	margin: 5px 10px 0 0;
}
.cardsField {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	position: relative;
	width: 400px;
	min-height: 150px;
	height: max-content;
	margin: 10px;
	user-select: none;
	font-size: 24px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
}
.quastionCard {
	width: 100%;
	margin: 20px 0;
	border-top: 3px solid red;
	padding: 5px;
	white-space: pre-line;
	word-break: break-word;
	word-wrap: break-word;
	pointer-events: none;
}
.answerCardClosed {
	display: none;
}
.answerCard {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: pre-line;
	word-break: break-word;
	word-wrap: break-word;
	padding: 5px;
	background-color: rgba(255, 255, 255, .9);
	backdrop-filter: blur(1px);
	pointer-events: none;
	font-size: 28px;
}